*.egg
*.egg-info
*.pyo
*.pt.py
*.txt.py
*.swp
*.sqlite3
.coverage
.project
.pydevproject
.build
.release
.penv/
.eggs/
.cache/
.idea/
build/
dist/
ideadb
exception.log
version.txt
__pycache__
/configfactory.yml