{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ component.name }} <span
                    style="font-size: 18px; font-weight: bold">[{{ component.alias }}]</span></h1>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-pills pull-left">
                        <li class="{% if current_environment == None %}active{% endif %}">
                            <a href="
                                    {% url 'components-view' alias=component.alias %}{% if readonly %}?readonly=1{% endif %}">base</a>
                        </li>
                        {% for environment in environments %}
                            <li class="{% if environment == current_environment %}active{% endif %}">
                                <a href="
                                        {% url 'components-view' alias=component.alias environment=environment %}{% if readonly %}?readonly=1{% endif %}">{{ environment }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if current_environment %}
                        <a href="{% url 'api-component' environment=current_environment alias=component.alias %}{% if readonly %}?flatten=1{% endif %}" target="_blank" class="btn btn-primary pull-right">
                            <i class="fa fa-eye fa-fw"></i> [API] GET CONFIG
                        </a>
                    {% else %}
                        <a href="{% url 'api' %}{% if readonly %}?flatten=1{% endif %}" target="_blank" class="btn btn-primary pull-right">
                            <i class="fa fa-eye fa-fw"></i> [API] GET CONFIG
                        </a>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-10">
                    <form method="post">
                        {% include 'shared/forms/_field.html' with field=form.settings hide_label=True %}
                        {% if not readonly %}
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-download"></i>
                                Update
                            </button>
                        {% endif %}
                        <a href="{% url 'components-edit' alias=component.alias %}" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                            Edit
                        </a>
                        <a href="{% url 'components-delete' alias=component.alias %}" class="btn btn-danger">
                            <i class="fa fa-trash-o"></i>
                            Delete
                        </a>
                    </form>
                </div>
                <div class="col-lg-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="{% if not readonly %}active{% endif %}">
                            {% if current_environment %}
                                <a href="{% url 'components-view' alias=component.alias environment=current_environment %}">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Edit
                                </a>
                            {% else %}
                                <a href="{% url 'components-view' alias=component.alias %}">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Edit
                                </a>
                            {% endif %}
                        </li>
                        <li class="{% if readonly %}active{% endif %}">
                            {% if current_environment %}
                                <a href="{% url 'components-view' alias=component.alias environment=current_environment %}?readonly=1">
                                    <i class="fa fa-eye"></i>
                                    Flatten View
                                </a>
                            {% else %}
                                <a href="{% url 'components-view' alias=component.alias %}?readonly=1">
                                    <i class="fa fa-eye"></i>
                                    Flatten View
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script>
        var $editor = $('#id_settings').ace({theme: 'twilight', lang: 'json'});
        {% if readonly %}
            $editor.data('ace').editor.ace.setReadOnly(true);
        {% endif %}
    </script>
{% endblock %}
