{% extends 'layouts/base.html' %}
{% load json %}

{% block content %}
    <h3>Delete {{ component.name }}</h3>
    <form method="post">
        <p>Are you sure you want to delete {{ component.name }} ?</p>
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'view_component' alias=component.alias %}" class="btn btn-primary">Cancel</a>
        <code style="display: block; margin-top: 12px; white-space: pre">{{ component.settings|jsonify }}</code>
    </form>
{% endblock %}
