{% extends 'layouts/base.html' %}
{% load json %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>Delete {{ filename }}</h3>
            <div class="row">
                <div class="col-lg-6">
                    <form method="post">
                        <p>Are you sure you want to delete {{ filename }} ?</p>
                        <button type="submit" class="btn btn-danger">Yes, delete</button>
                        <a href="{% url 'load_backup' %}" class="btn btn-primary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
