{% extends 'layouts/base.html' %}
{% load json %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Load settings</h1>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Filename</th>
                                <th>Size</th>
                                <th>Created at</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for backup in backups %}
                                <tr>
                                    <td>
                                        <a href="/backups/{{ backup.name }}">{{ backup.name }}</a>
                                    </td>
                                    <td>{{ backup.size|filesizeformat }}</td>
                                    <td>{{ backup.created_at }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
                                            <a href="{% url 'backup-load' filename=backup.name %}" class="btn btn-success">
                                                LOAD
                                            </a>
                                            <a href="{% url 'backup-delete' filename=backup.name %}" class="btn btn-danger">
                                                DELETE
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
