<div class="navbar-default sidebar" role="navigation" style="margin-top: 8px">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            {% for component in components %}
            <li>
{#                {% set is_current=request.view_args.component_id == component.pk|string %}#}
                <a href="{% url 'components-view' alias=component.alias %}" class="{% if is_current %}active{% endif %}">
                    <i class="fa fa-cube fa-fw"></i> {{ component.name|upper }} <small><strong>[{{ component.alias }}]</strong></small>
                    <span class="fa arrow"></span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>